@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Source+Sans+Pro:wght@400;700&family=Space+Mono&display=swap');
@font-face{font-display:swap;font-family:Gilroy;font-style:normal;font-weight:400;src:url(https://assets-marketing-site.calendly.com/static/Gilroy-Regular-e25ee40195da6f33618ba7c03d2b66a4.woff2) format("woff2"),url(https://assets-marketing-site.calendly.com/static/Gilroy-Regular-e0879529bc261e7247c6e4a4b6f670c7.woff) format("woff")}@font-face{font-display:swap;font-family:Gilroy;font-style:normal;font-weight:500;src:url(https://assets-marketing-site.calendly.com/static/Gilroy-Medium-a64dce81db9e8889c8d38234f85cb1c7.woff2) format("woff2"),url(https://assets-marketing-site.calendly.com/static/Gilroy-Medium-a46ff9656a37256d62e8a086e4b2f766.woff) format("woff")}@font-face{font-display:swap;font-family:Gilroy;font-style:normal;font-weight:600;src:url(https://assets-marketing-site.calendly.com/static/Gilroy-SemiBold-12311b38a13f451c15040a7ce33652cd.woff2) format("woff2"),url(https://assets-marketing-site.calendly.com/static/Gilroy-SemiBold-07559043612d8f26cd8b4e62c5de57ca.woff) format("woff")}@font-face{font-display:swap;font-family:Gilroy;font-style:normal;font-weight:700;src:url(https://assets-marketing-site.calendly.com/static/Gilroy-Bold-2ffee4e4db2cdfa9b7b4de5df3004172.woff2) format("woff2"),url(https://assets-marketing-site.calendly.com/static/Gilroy-Bold-20091a5334cb2a0c9f97fa58bfbdcd22.woff) format("woff")}@font-face{font-display:swap;font-family:Gilroy;font-style:normal;font-weight:800;src:url(https://assets-marketing-site.calendly.com/static/Gilroy-ExtraBold-83a93e62c6bda423ff7ac383e653bd9b.woff2) format("woff2"),url(https://assets-marketing-site.calendly.com/static/Gilroy-ExtraBold-991e2eae044b7eb5e1b6ed1e6e521ed8.woff) format("woff")}@font-face{font-display:swap;font-family:Gilroy;font-style:normal;font-weight:900;src:url(https://assets-marketing-site.calendly.com/static/Gilroy-Black-fc99f47a5275763ee82407729a56b5a8.woff2) format("woff2"),url(https://assets-marketing-site.calendly.com/static/Gilroy-Black-a7017ba231ab8dc770e0534ccd330e2a.woff) format("woff")}

* {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    font: inherit;
}
*, ::before, ::after {
    text-rendering: optimizelegibility;
    user-select: none;
}
*, ::before, ::after {
    box-sizing: inherit;
}
html, body, 
    * {
        font-family: Gilroy, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        line-height: 2;
}
html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 100%;
}
ol, ul {
    list-style: none;
}

/* Nav-bar Styling with css: Home page */
.nav-bar {
    padding: 16px 120px;
    transition: all 0.7s ease-in;
}
.company-logo {
    max-width: 176px;
}
.nav-links {
    padding-left: 80px;
    color: #000;
}
.nav-links a {
    color: #000 !important;
    font-size: 20px;
    font-weight: bolder;
    padding: 0 32px;
}
.easy-schedule {
    font-size: 65px;
    font-weight: 900;
    padding-top: 64px;
    padding: 16px 18px;
}
.ahead-col {
    color: rgb(0, 107, 255);
    line-height: 1;
}
.calendly-p {
    font-size: 18px;
    margin-bottom: 24px;
    line-height: 1.5;
    padding: 16px 18px;
}
/* .email-container {
    padding-left: 30px;
} */
.email-holder {
    margin-top: 16px;
    padding-left: 18px;
    padding: 26px;
    width: 365px;
    border: 0;
    background: #fff;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    box-shadow: 0px 0px 4px 1px grey; 
    background: #fff;
}
.submit-btn {
    position: absolute;
    width: 160px;
    top: 363px;
    right: 70px;
    padding: 27px;
    border: 0;
    border-radius: 40px;
    background-color: #000;
    color: #fff;
}
.subit-btn:hover {
    background-color: rgb(167, 164, 164);
    transition: all 0.4s ease-in;
    color: #fff;
}
@media screen and (max-width: 992px){
    .p-onzoom{
        padding-left: 24px;
        padding-right: 24px;
}
}
.p-onzoom {
    width: 672px;
    height: 672px;
}
.w-users {
    padding: 26px 16px;
    background-color: rgb(251, 251, 251);
}
.users {
    font-size: 32px;
    font-weight: 450px;
    padding-left: 250px;
    padding-right: 250px;
}
.amt-color {
    color: rgb(0, 107, 255);
}
.partners {
    display: flex;
    flex-flow: row wrap;
    -webkit-box-align: center;
    align-items: center;
}
.partners img {
    height: 27px;
    margin: 16px 32px;
    opacity: 0.4;
}
.create-share {
    margin: 128px;
}
.create-share h3 {
    margin-left: 40px;
    margin-top: -18px;
    margin-bottom: 32px;
}
.create-share p {
    margin-left: 32px;
}
.v-line {
    height: 178px;
    border: 1px solid grey;
    background-color: rgba(138, 138, 138, 0.171);
    position: absolute;
    top: 24px;
    left: 30px;
}
.v-line-color {
    background-color: rgb(3, 3, 110);
    padding: 8px 10px;
    border-radius: 50%;
    color: #fff;

}

/* Nav-bar styling with css: Individual Page */
.signUp-btn {
    width: 208px;
    padding: 24px;
    background-color: #000;
    border: 0;
    color: #fff;
    border-radius: 40px;
}
.c-calendar {
    font-size: 20px;
    color: gray;
    text-transform: uppercase;
}
.book-up {
    font-size: 30px;
    font-weight: bolder;
}
.mgn-top {
    margin-top: 48px;
    padding-right: 40px;
}
.individual-bg {
    height: 250px;
    margin-left: 40px;
    margin-right: 12px;
    margin-bottom: 24px;
    background-color: rgb(10, 37, 64);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    padding: 0px 40px; 
}
.team-plans {
    font-size: 40px;
    font-weight: 700;
    padding-top: 16px;
    color: #fff;
}
.plans-btn {
    width: 180px;
    height: 45px;
    border: 0;
    border-radius: 40px;
    background-color: #fff;
    color: rgb(73, 71, 71);
}
.i-footer {
    color: #000;
}
.i-footer a{
    color: rgba(0, 0, 0, 0.753);
}
.i-footer a{
    list-style: none;
    padding-bottom: 32px;
}
.easy-ahead {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 24px;
    line-height: 0.5;
}
.advanced {
    margin-bottom: 48px;
}
.language-selection {
    background-color: #fff;
    border: 1px solid rgb(139, 139, 139);
}
.links {
    font-size: 24px;
    font-weight: 700;
}
.links a {
    text-decoration: none;
}
.way-more {
    padding-top: 80px;
    padding-bottom: 56px;
    max-width: 1200px;
    width: 100%;
}
.enterprise-hero {
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    padding: 0px 250px;
}
.sales-contact {
    position: relative;
    display: inline-flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(0, 0, 0);
    height: 64px;
    padding-left: 40px;
    padding-right: 40px;
    border: medium none;
    outline: currentcolor none medium;
    cursor: pointer;
    font-family: Gilroy;
    color: rgb(255, 255, 255);
    border-radius: 40px;
    left: 0px;
    top: 0px;
    line-height: 1;
    font-size: 1rem;
    font-weight: 700;
}
.col-blue {
    color: rgb(9, 91, 129);
}
.calendly-standards {
    font-size: 3.25rem;
    line-height: 1.25;
    font-weight: 900;
    letter-spacing: -0.01em;
    text-align: center;
    color: rgb(0, 0, 0);
    max-width: 670px;
}
.col-center {
    width: 100%;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    flex-direction: column;
}
.calendly-txt {
    letter-spacing: -0.01em;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    line-height: 1.33333;
    font-weight: 500;
    margin-top: 48px;
    margin-bottom: 24px;
    max-width: 545px;
}
.trusted-org {
    background: url(./images/ent-banner.png);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    padding: 0px 40px;
}
.trusted-companies {
    padding-bottom: 80px;
    padding-top: 56px;
    max-width: 1038px;
    width: 100%;
}
.home-partners {
    width: 100%;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    flex-direction: column;
}
.leading-org {
    font-size: 2rem;
    line-height: 1.25;
    letter-spacing: -0.01em;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin-bottom: 16px;
    max-width: 560px;
}
.calendly-partners {
    display: flex;
    flex-flow: row wrap;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
    width: 100%;
    margin-left: -16px;
    margin-right: -16px;
}
.partners-logo {
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    width: auto;
    height: 64px;
}
.p-logo {
    display: block;
    width: auto;
    max-width: 120px;
    min-width: 100px;
    max-height: 30px;
    align-self: center;
}
.usecases {
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    padding: 0px 40px;
    margin-top: 70px;
    margin-left: 100px;
}
.enterprise-thumb {
    padding-bottom: 48px;
    max-width: 1200px;
    width: 100%;
}
.sales-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 32px;
    max-width: 290px;
    height: 100%;
    min-height: 410px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3.77615px 12.2725px;
    border-radius: 32px;
    overflow: hidden;
}
.sales {
    color: rgb(0, 107, 255);
    font-size: 1.5rem;
    line-height: 1.33333;
    font-weight: 800;
}
.sal {
    width: 100%;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 8px;
}
.img-size {
    display: block;
    width: 200px;
    height: 200px;
}
.p-text {
    letter-spacing: -0.01em;
    text-align: left;
    color: rgb(0, 0, 0);
    font-size: 1.125rem;
    line-height: 2;
    font-weight: 500;
}
.learn-container {
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
}
.learn-more {
    width: auto;
    height: auto;
    padding: 8px;
}
.learn-btn {
    position: relative;
    display: inline-flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(0, 0, 0);
    height: 48px;
    padding-left: 24px;
    padding-right: 24px;
    border: medium none;
    outline: currentcolor none medium;
    cursor: pointer;
    font-family: Gilroy;
    color: rgb(255, 255, 255);
    border-radius: 40px;
    left: 0px;
    top: 0px;
    font-size: 0.875rem;
    line-height: 1;
    font-weight: 700;
}
.l-more {
    z-index: 2;
}
.nav-header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
    background-color: white;
    display: flex;
    flex-direction: column;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    width: 100%;
}
@media screen and (max-width: 1200px){
    .nav-header > div:first-child{
        padding-left: 24px;
        padding-right: 24px;
    }
    
}
.nav-header > div:first-child {
    width: 100%;
    margin-top: 40px;
}
@media screen and (max-width: 1200px) {
    .nav-item1{
        height: 80px;
    }
    
}
.nav-item1 {
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
    max-width: 1280px;
    margin: 0px auto;
    padding-left: 120px;
}
.nav-item1 .sc-1i84b61-0 {
    position: relative;
}
.nav-logo {
    color: rgb(0, 107, 255);
    cursor: pointer;
    font-weight: 700;
    
}
.nav-item1 .logo-wrapper {
    height: 100%;
}
.cpa-dmh {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex: 0 1 0%;
}
.img-wrapper {
    display: block;
    width: auto;
    height: 40px;
}
.gzuOWY {
    width: auto;
    height: 40px;
    display: none;
}
#__gatsby {
    margin-top: 40px;
}
@media screen and (max-width: 992px){
    .nav-items{
        display: none;
    }
}
.nav-items {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: auto;
}
@media screen and (max-width: 1200px) {
    .nav-item1 > ul > li:not(.skip){
        margin: 0px 8px;
    }
    
}
.nav-item1 > ul > li {
    display: flex;
    -moz-box-align: center;
    align-items: center;
    transition: all 0.2s linear 0s;
    position: relative;
}
.nav-item1 > ul > li:not(.skip) > a {
    font-size: 1rem;
    line-height: 1;
    color: rgb(0, 0, 0);
    font-weight: 700;
    transition: all 0.2s linear 0s;
    white-space: nowrap;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    border-bottom: 2px solid rgb(255, 255, 255);
    padding-left: 30px;
}
.nav-item1 .sc-1i84b61-0 {
    position: relative;
}
.nav-li {
    cursor: pointer;
}
a{
    text-decoration: none;
}
ul {
    margin-right: 650px;
    margin-top: 14px;
}
@media screen and (max-width: 1200px) {
    .ixrlfC{
        height: 80px;
    }
    
}
.ixrlfC {
    width: 100%;
}
.teams-hero {
    background-color: rgb(255, 255, 255);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    overflow: hidden;
    padding: 0px 150px;
    top: 65px;
}
.hero-length {
    max-width: 1200px;
    width: 100%;
    margin-top: 30px;
}
@media screen and (max-width: 768px) {
    .hero-cont{
        flex-direction: column;
    }
    
}
@media screen and (max-width: 768px) {
    .hero-cont{
        padding: 48px 0px;
    }
    
}
.hero-cont {
    width: 100%;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
}
.component-hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    position: relative;
}
.pwr-upyour-team {
    font-size: 3.25rem;
    line-height: 1.25;
    font-weight: 900;
    letter-spacing: -0.01em;
    color: rgb(11, 53, 88);
    max-width: 770px;
    padding-right: 65px;
}
.pwr-text {
    font-size: inherit;
    line-height: inherit;
}
.pwr-upyour-team *{
    font-weight: 900;
    letter-spacing: -0.01em;
}
.pwr-text-col {
    color: rgb(0, 107, 255);
}
@media screen and (max-width: 768px) {
    .p-cont{
        text-align: center;
    } 
}
@media screen and (max-width: 768px) {
    .p-cont{
        margin-bottom: 24px;
    }  
}
.p-cont {
    letter-spacing: -0.01em;
    color: rgb(71, 103, 136);
    font-size: 1.125rem;
    line-height: 1.33333;
    font-weight: 400;
    width: 100%;
    max-width: 770px;
}
.p-text {
    width: 100%;
    line-height: 1.71429;
    height: auto;
    padding-bottom: 32px;
    padding-right: 30px;
}
.mrg-span {
    width: 100%;
    height: 100%;
    margin-right: 8px;
    margin-left: 8px;
}
.btn-start {
    width: 180px;
}
.btn-start > a .btn-start button {
    width: inherit;
    margin: 8px 4px;
    vertical-align: middle;
}
.start4free {
    position: relative;
    display: inline-flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(0, 107, 255);
    height: 64px;
    padding-left: 40px;
    padding-right: 40px;
    border: medium none;
    outline: currentcolor none medium;
    cursor: pointer;
    font-family: Gilroy;
    border-radius: 40px;
    left: 0px;
    top: 0px;
    color: rgb(255, 255, 255);
    font-size: 0.875rem;
    line-height: 1;
    font-weight: 700;
}
.fJzChH {
    z-index: 2;
}
.jDUAak {
    position: absolute;
    width: 100%;
    height: calc(68px);
    z-index: 1;
    top: -2px;
    left: 0px;
    opacity: 0;
    transition: width 0.1s linear 0s, height 0.1s linear 0s;
}
.fueoiU {
    position: relative;
    display: inline-flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    outline: currentcolor none medium;
    cursor: pointer;
    transition: all 0.2s linear 0s;
    height: 64px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 40px;
    font-family: Gilroy;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1;
}
a {
    text-decoration: none;
}
@media screen and (max-width: 992px) {
    .sales-meeting{
        max-width: 100%;
    }  
}
.sales-meeting {
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 992px) {
    .dgWvHt > .gatsby-image-wrapper{
        max-width: 500px;
    }
}
.gatsby-image-wrapper {
    position: relative;
    overflow: hidden;
}
.gatsby-image-wrapper [data-main-image] {
    transform: translateZ(0);
    transition: opacity .25s linear;
    will-change: opacity;
}
@media screen and (max-width: 992px) {
    .team-reach{
        padding-right: 24px;
        padding-left: 24px;
    } 
}
.team-reach {
    background-color: rgb(255, 255, 255);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    overflow: hidden;
    padding: 0px 350px;
    margin-top: 150px;
    font-weight: bolder;
    text-align: center;
}
.team-reach-bold {
    font-size: 45px;
    font-weight: 600;
}
@media screen and (max-width: 992px) {
    .teams-switchback{
        padding-left: 24px;
        padding-right: 24px;
    }
}
.teams-switchback {
    background-color: rgb(255, 255, 255);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    overflow: hidden;
    padding: 0px 40px;
}
.eCXDMu {
    max-width: 1200px;
    width: 100%;
}
.team-booked {
    width: 100%;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    position: relative;
}
@media screen and (max-width: 992px) {
    .automated-team{
        flex-direction: column-reverse;
        -webkit-box-align: center;
        align-self: center;
        min-height: auto;
        gap: 24px;
    } 
}
.automated-team {
    width: 100%;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    flex-direction: row;
    padding-top: 64px;
    padding-bottom: 64px;
}
.streamline {
    padding-left: 150px;
    padding-bottom: 150px;
}
 .learnMore-btn {
     font-weight: bold;
     color: blue;
 } 
 .Cards {
     margin: 2rem 0;
     display: flex;
     justify-content: center;
 }
.sol-card {
    box-shadow: 1px 1px 20px 1px rgba(105, 105, 105, 0.418);
    border-radius: 3%;
    margin-bottom: 3rem;
    height: 20rem;
    padding-bottom: 3rem;
}
.solutions-cardent {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 20px 1px rgba(105, 105, 105, 0.418);
    border-radius: 10%;
    margin: 3rem 1rem;
    padding-bottom: 3rem;
}
.solutions-cardent h5 {
    margin-left: 1.5rem;
    color: blue;
    font-weight: bold;
    margin-top: 1rem;
    font-size: 1.4rem;
}
.solutions-cardent p {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.739);
}
.sol-card a {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.sol-card h5, p, a {
    padding-left: 1rem;
}
.title-txt {
    margin-top: 15px;
    font-size: 20px;
}

.easySA {
    padding-top: 4rem;
    font-size: 4rem;
    font-weight: 900;
  }
  .easyAhead {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
  }
  .ind {
    margin-bottom: 3rem;
  }
  .language-dropdown {
    background-color: white;
    border: 1px solid rgb(144, 144, 144);
    width: 27rem;
  }
  .emailField {
    margin-top: 1rem;
    padding: 1.6rem;
    width: 30rem;
    border: 0;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    box-shadow: 0px 0px 4px 1px rgb(175, 175, 175);
    background: #fff;
  }

  .start-free-btn {
    padding: 1.4rem;
    width: 13rem;
    border: 0;
    background-color: blue;
    color: white;
    border-radius: 40px;
  }
  .sales-contact-btn {
    padding: 1.4rem;
    width: 13rem;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 40px;
  }
  .sales-contact-btn2 {
    padding: 1.4rem;
    width: 13rem;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 40px;
  }