.taskItem{
    margin-top: 20px;
  }
  
  .taskItem p{
    margin-top: 10px;
    font-size: 18px;
    max-height: 300px;
    line-height: 25px;
    overflow-y: auto;
    color: hsl(210, 20%, 25%);
  }